<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/images/favicon.ico" type="image/x-icon">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <script>
        var dashboardData = '{{{toJSON dashboardData}}}';
        var topicsList = '{{{toJSON topicsList}}}';
    </script>
    <header id="sidenav-wrapper"></header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12 m6 sl3">
                    <div class="card horizontal quiz-result-card white-text">
                        <div class="card-image card-content valign-wrapper pink darken-4">
                            <i class="medium material-icons">subject</i>
                        </div>
                        <div class="card-stacked pink darken-3">
                            <div class="card-content">
                                <div>TEMATICI</div>
                                <div>
                                    <span class="quiz-result-stats">{{dashboardData.topicsTotal}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 sl3">
                    <div class="card horizontal quiz-result-card white-text">
                        <div class="card-image card-content valign-wrapper blue darken-4">
                            <i class="medium material-icons">assignment</i>
                        </div>
                        <div class="card-stacked blue darken-3">
                            <div class="card-content">
                                <div>TESTE</div>
                                <div>
                                    <span class="quiz-result-stats">{{dashboardData.quizesTotal}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 sl3">
                    <div class="card horizontal quiz-result-card white-text">
                        <div class="card-image card-content valign-wrapper light-green darken-4">
                            <i class="medium material-icons">view_compact</i>
                        </div>
                        <div class="card-stacked light-green darken-3">
                            <div class="card-content">
                                <div>TABELE</div>
                                <div>
                                    <span class="quiz-result-stats">{{dashboardData.tablesTotal}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 sl3">
                    <div class="card horizontal quiz-result-card white-text">
                        <div class="card-image card-content valign-wrapper yellow darken-4">
                            <i class="medium material-icons">live_help</i>
                        </div>
                        <div class="card-stacked yellow darken-3">
                            <div class="card-content">
                                <div>ÎNTREBĂRI</div>
                                <div>
                                    <span class="quiz-result-stats">{{dashboardData.questionsTotal}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        <canvas id="lineChart" height="350" width="800"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--libraries and frameworks-->
    <script type="text/javascript" src="/scripts/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/scripts/libraries/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/Chart.min.js"></script>

    <!--handlebars helpers-->
    <script type="text/javascript" src="/scripts/source/helpers.js"></script>

    <!--handlebars precompiled templates-->
    <script src="/scripts/hbs-templates/precompiled/sidenav.tmpl.js"></script>

    <!--external scripts-->
    <script type="text/javascript" src="/scripts/source/admin/dashboard.js"></script>
</body>

</html>