<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#999999" />
    <link rel="stylesheet" href="/images/favicon.ico" type="image/x-icon">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <script>
        var quiz = '{{{toJSON quiz}}}';
        var topics = '{{{toJSON topics}}}';
    </script>
    <header>
        <div id="sidenav-wrapper"></div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="grey-text text-darken-4">
                    <ul class="tabs pink-text text-accent-4 z-depth-1">
                        <li class="tab col s3"><a class="active" href="#general-tab">Informație Generală</a></li>
                        <li class="tab col s3"><a href="#questions-tab">Întrebări</a></li>
                        <li class="tab col s3 disabled"><a href="#image-tab">Imagine</a></li>
                        <li class="tab col s3"><a href="#security-tab">Securitate</a></li>
                    </ul>
                </div>
                <div id="general-tab" class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <form class="col s12" id="quiz-form">
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            <input placeholder="Exemplu: Test Informatica" id="quiz-name" type="text" class="validate" value="{{quiz.name}}">
                                            <label for="quiz-name">Nume Test</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <input placeholder="Exemplu: Functii in Javascript" id="additional-note" type="text" class="validate" value="{{quiz.knowledgeOf}}">
                                            <label for="additional-note">Notiță adițională</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m2">
                                            <label for="quiz-time">Timp</label>
                                            <input id="quiz-time" type="number" class="validate" value="{{math quiz.timeSeconds '/' 60}}">
                                        </div>
                                        <div class="input-field col s12 m10">
                                            <p class="range-field">
                                                <input type="range" id="quiz-time-range" min="10" max="90" value="{{math quiz.timeSeconds '/' 60}}" />
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row no-margin-bottom">
                                        <div class="col s12 m6 l8 quiz-random" style="margin-bottom: 20px;">
                                            <div class="switch" id="quiz-random">
                                                <label>
                                                    <input type="checkbox" {{#if quiz.randomShuffle}} checked {{/if}}>
                                                    <span class="lever"></span>Ordine aleatorie a intrebarilor
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s12 m6 l4 quiz-timestamp">
                                            <div class="grey-text right-align" style="font-size: 0.8rem;">
                                                <i class="material-icons tiny">date_range</i>
                                                <span class="right">{{quiz.createdOn}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card col s12" style="margin-bottom: 0;">
                        <div class="card-content">
                            <div class="row no-margin">
                                <div class="col s12 m6">
                                    <div class="pink-text text-accent-4" style="font-size: 24px;">Tema Testului</div>
                                </div>
                                <div class="col s12 m6">
                                    <nav class="white lighten-1 z-depth-0 search-nav">
                                        <div class="nav-wrapper">
                                            <div class="input-field">
                                                <input id="topics-search" type="search" placeholder="Cautati tema" autocomplete="off" class="grey-text text-darken-1">
                                                <label class="label-icon" for="topics-search">
                                                    <i class="material-icons left grey-text text-darken-3">search</i>
                                                </label>
                                                <i class="material-icons search-clear">close</i>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col s12" style="max-height: 600px; overflow-y: auto; margin-top: 0;" id="topics-wrapper">
                        <div class="card-content">
                            <form action="#" id="topics-form">
                                <ul id="topics-list">
                                    {{#each topics as |topic|}}
                                    <li style="padding: 10px;">
                                        <input name="quiz-topic" type="radio" id="topic-{{topic.id}}" class="with-gap" {{#ifCond topic.id '==' ../quiz.topicId}}checked{{/ifCond}}
                                            data-topic-id="{{topic.id}}" />
                                        <label for="topic-{{topic.id}}" class="grey-text text-darken-4">{{topic.topic}}</label>
                                    </li>
                                    {{/each}}
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large pink accent-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Salvează modificările"
                            id="update-quiz">
                            <i class="large material-icons">save</i>
                        </a>
                    </div>
                </div>
                <div id="questions-tab" class="col s12">
                    <ul class="collection z-depth-1">
                        {{#each quiz.questions as |question|}}
                        <li class="collection-item avatar">
                            <i class="material-icons circle blue-grey">
                                {{#ifCond question.type '==' 'radio'}}radio_button_checked{{/ifCond}}
                                {{#ifCond question.type '==' 'checkbox'}}check_box{{/ifCond}}
                                {{#ifCond question.type '==' 'truefalse'}}exposure{{/ifCond}}
                                {{#ifCond question.type '==' 'write'}}short_text{{/ifCond}}
                            </i>
                            <a class="title" href="/admin/quizes/{{../quiz.id}}/questions/{{question.id}}">{{question.name}}</a>
                            <p class="grey-text">{{question.type}}</p>
                            <div class="secondary-content blue-grey-text"><span>{{question.points}}</span><i class="material-icons tiny right" style="padding-top: 3px;">gamepad</i></div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large pink accent-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Adauga intrebare"
                            href="#add-question-modal">
                            <i class="large material-icons">add</i>
                        </a>
                    </div>
                    <div id="add-question-modal" class="modal">
                        <form id="add-question-form">
                            <div class="modal-content">
                                <h4>Adaugați o întrebare nouă</h4>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" id="question-name" name="questionName" minlength="5" class="validate" required>
                                        <label for="question-name" data-error="Intrebarea este prea scurta">Denumirea întrebării</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-flat waves-effect waves-light pink-text text-accent-4 modal-action" value="Continuati">
                                <a href="#" class="btn-flat modal-action modal-close">Inchideți</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="image-tab" class="col s12"></div>
                <div id="security-tab" class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <h5>Schimbarea parolei</h5>
                            </div>
                            <div class="row">
                                <form class="col s12" id="change-password-form">
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            <input id="quiz-old-password" type="password" class="validate">
                                            <label for="quiz-old-password">Parola veche</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            <input id="quiz-new-password" type="password" class="validate">
                                            <label for="quiz-new-password">Parola nouă</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            <input id="quiz-confirm-password" type="password" class="validate">
                                            <label for="quiz-confirm-password">Confirmă parola</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            <input type="submit" class="btn waves-effect waves-light pink" value="Modifică">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-action">
                            <a class="btn pink darken-4 waves-effect waves-light modal-trigger" id="remove-quiz" href="#quiz-confirm">
                                <i class="material-icons left">clear</i>Șterge testul
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="quiz-confirm" class="modal modal-small modal-vertical-centered">
            <div class="modal-content">
                <h4>Confirmare</h4>
                <p class="quiz-confirm-message">Are you sure to proceed?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-flat waves-effect waves-red" id="quiz-confirm-no">Anuleaza</a>
                <a href="#" class="btn btn-flat waves-effect waves-green" id="quiz-confirm-yes">Da</a>
            </div>
        </div>
    </main>

    <!--libraries and frameworks-->
    <script type="text/javascript" src="/scripts/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/scripts/libraries/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/lodash.min.js"></script>

    <!--handlebars helpers-->
    <script type="text/javascript" src="/scripts/source/helpers.js"></script>

    <!--handlebars precompiled templates-->
    <script src="/scripts/hbs-templates/precompiled/sidenav.tmpl.js"></script>

    <!--external scripts-->
    <script type="text/javascript" src="/scripts/source/admin/edit-quiz.js"></script>
</body>

</html>