<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#999999" />
    <link rel="stylesheet" href="/images/favicon.ico" type="image/x-icon">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <script>
        var question = '{{{toJSON question}}}';
        var types = '{{{toJSON types}}}';
    </script>
    <header>
        <div id="sidenav-wrapper"></div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="grey-text text-darken-4">
                    <ul class="tabs pink-text text-accent-4 z-depth-1">
                        <li class="tab col s3">
                            <a target="_self" href="/admin/quizes/{{question.quizId}}">Informație Generală</a>
                        </li>
                        <li class="tab col s3">
                            <a target="_self" href="/admin/quizes/{{question.quizId}}#questions-tab" class="active">Întrebări</a>
                        </li>
                        <li class="tab col s3 disabled">
                            <a target="_self" href="/admin/quizes/{{question.quizId}}">Imagine</a>
                        </li>
                        <li class="tab col s3"><a target="_self" href="/admin/quizes/{{question.quizId}}#security-tab">Securitate</a></li>
                    </ul>
                </div>
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div style="margin: 20px 0;">
                                <a href="/admin/quizes/{{question.quizId}}#questions-tab">
                                    <i class="material-icons left">arrow_back</i> Înapoi
                                </a>
                            </div>
                            <form action="" id="general-form">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" value="{{question.name}}" id="question-name" placeholder="Ex: Ce reprezinta Javascript?">
                                        <label for="question-name">Întrebarea</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m8">
                                        <select id="question-type">
                                        {{#each types as |type|}}
                                            <option value="{{type.id}}" 
                                            {{#ifCond type.id '==' ../question.typeId}}selected{{/ifCond}}>{{~type.name~}}
                                            </option>
                                        {{/each}}
                                    </select>
                                        <label>Tipul</label>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <input type="number" value="{{question.points}}" id="question-points">
                                        <label for="question-points">Numărul de puncte</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-action right-align">
                            <a class="btn pink darken-4 waves-effect waves-light modal-trigger" id="remove-question" href="#quiz-confirm">Șterge</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s9 m10">
                                    <div class="pink-text text-accent-4" style="font-size: 24px; padding-top: 15px;">Răspunsuri</div>
                                </div>
                                <div class="pink-text text-accent-4 right" style="font-size: 24px; padding-top: 15px;">Corect</div>
                            </div>
                            <form action="" id="answers-form">
                                {{#each question.answers as |answer|}}
                                <div class="row">
                                    <div class="input-field col s10 m11">
                                        <input type="text" value="{{answer}}" id="answer-{counter @index}}" class="answer-name">
                                        <label for="answer-{{counter @index}}" data-index="{{counter @index}}" class="input-label">Răspuns {{counter @index}}</label>
                                    </div>
                                    <div class="input-field right">
                                        <input name="answers" type="checkbox" id="correct-{{@index}}" {{~#each ../question.correctAnswers as |correctAnswer|~}} {{#ifCond
                                            correctAnswer '==' answer}}checked{{/ifCond}} {{~/each~}}>
                                        <label for="correct-{{@index}}"></label>
                                    </div>
                                </div>
                                {{/each}}
                            </form>
                        </div>
                        <div class="card-action">
                            <button type="button" class="btn waves-effect waves-light blue-grey" id="add-answer">Adauga intrebare</button>
                            <button type="button" class="btn btn-flat waves-effect waves-light" id="remove-answer">Șterge</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large pink accent-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Salvează modificările"
                id="update-question">
                <i class="large material-icons">save</i>
            </a>
        </div>
        <div id="quiz-confirm" class="modal modal-small modal-vertical-centered">
            <div class="modal-content">
                <h4>Confirmare</h4>
                <p class="quiz-confirm-message">Are you sure to proceed?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-flat waves-effect waves-red" id="quiz-confirm-no">Anuleaza</a>
                <a href="#" class="btn btn-flat waves-effect waves-green" id="quiz-confirm-yes">Da</a>
            </div>
        </div>
    </main>

    <!--libraries and frameworks-->
    <script type="text/javascript" src="/scripts/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/scripts/libraries/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/lodash.min.js"></script>

    <!--handlebars helpers-->
    <script type="text/javascript" src="/scripts/source/helpers.js"></script>

    <!--handlebars precompiled templates-->
    <script src="/scripts/hbs-templates/precompiled/sidenav.tmpl.js"></script>

    <!--external scripts-->
    <script type="text/javascript" src="/scripts/source/admin/edit-question.js"></script>
</body>

</html>