<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/scripts/libraries/devicon-master/devicon.min.css">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
    <link rel="stylesheet" href="/scripts/libraries/tablesort/tablesort.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <script>
        var dashboardData = '{{{toJSON dashboardData}}}';
        var topicsList = '{{{toJSON topicsList}}}';
    </script>
    <header id="sidenav-wrapper"></header>
    <main>
     <!--<h1 class="blue-grey-text text-lighten-1" id="breadcrumb">Manage Quizes</h1>
        <div class="card table-card">
            <div class="card-content grey-text text-darken-3">
                <div class="table-card-header">
                    <div class="deep-orange-text">
                        <a href="#">ADAUGA TEST</a>
                        <a href="#">STERGE</a>
                    </div>
                    <div class="right grey-text text-darken-1">
                        <a href="#" class="dropdown-button" data-beloworigin="true" data-activates="sort-dropdown">
                            <i class="material-icons">sort</i>
                        </a>
                        <a href="#"><i class="material-icons">more_vert</i></a>
                    </div>
                    <ul id="sort-dropdown" class="dropdown-content">
                        <li><a href="#!" data-sort="name" class="deep-orange-text">Nume</a></li>
                        <li><a href="#!" data-sort="date-created" class="deep-orange-text">Data</a></li>
                        <li><a href="#!" data-sort="topic" class="deep-orange-text">Tema</a></li>
                    </ul>
                </div>
                <table class="bordered highlight" id="quizes-table">
                    <thead>
                        <tr>
                            <th data-sort-method="none" class="no-sort"></th>
                            <th data-field="id" data-sort-method='none' class="no-sort">Id</th>
                            <th data-field="name">Nume</th>
                            <th data-field="topic">Tema</th>
                            <th data-field="date-created">Data Creării</th>
                            <th data-field="time-limit">Timp Limită</th>
                            <th data-field="random">Aleator</th>
                            <th data-sort-method='none' class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="#">
                            {{#each quizes as |quiz|}}
                            <tr data-id="{{quiz.id}}">
                                <td><input type="checkbox" id="chk-row-{{@index}}" /><label for="chk-row-{{@index}}"></label></td>
                                <td>{{quiz.id}}</td>
                                <td>{{quiz.name}}</td>
                                <td>{{quiz.topicName}}</td>
                                <td>{{quiz.createdOn}}</td>
                                <td>{{quiz.timeLimit}}</td>
                                <td>{{#if quiz.randomShuffle}} Da {{else}} Nu {{/if}}</td>
                                <td>

                                    <a href="#edit-modal" class="edit-quiz blue-grey-text text-lighten-1">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </form>
                    </tbody>
                </table>
            </div>
            <div class="card-action right-align datatable-pagination">
                <span>Randuri pe pagină:</span>
                <select class="browser-default select-nr-rows">
                    <option value="5" {{#ifCond limit "==" 5}} selected {{/ifCond}}>5</option>
                    <option value="10" {{#ifCond limit "==" 10}} selected {{/ifCond}}>10</option>
                    <option value="15" {{#ifCond limit "==" 15}} selected {{/ifCond}}>15</option>
                    <option value="25" {{#ifCond limit "==" 25}} selected {{/ifCond}}>25</option>
                </select>
                <span>{{math offset "+" 1}}-{{math limit "+" offset}} din {{total}}</span>
                <div class="right">
                    <a href="#"><i class="material-icons prev-page">chevron_left</i></a>
                    <a href="#"><i class="material-icons next-page">chevron_right</i></a>
                </div>
            </div>
        </div>-->
    </main>

    <!--libraries and frameworks-->
    <script type="text/javascript" src="/scripts/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/scripts/libraries/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/lodash.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/Chart.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/tablesort/tablesort.min.js"></script>


    <!--handlebars helpers-->
    <script type="text/javascript" src="/scripts/source/helpers.js"></script>

    <!--handlebars precompiled templates-->
    <script src="/scripts/hbs-templates/precompiled/sidenav.tmpl.js"></script>

    <!--external scripts-->
    <script type="text/javascript" src="/scripts/source/admin/quizes.js"></script>
</body>

</html>