<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="scripts/libraries/devicon-master/devicon.min.css">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
    <link rel="stylesheet" href="/scripts/libraries/tablesort/tablesort.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <script>
        var dashboardData = '{{{toJSON dashboardData}}}'
        var topicsList = '{{{toJSON topicsList}}}';
    </script>
    <header>
        <div class="brand-logo hide-on-large-only deep-orange"><img src="/images/admin-logo-full.svg" alt="logo" class="responsive-img"></div>
        <div class="navbar-fixed hide-on-large-only">
            <nav>
                <div class="nav-wrapper">
                    <ul class="right">
                        <li class="hide-on-small-only">
                            <a href="#search-in-modal" class="modal-trigger"><i class="material-icons">search</i></a>
                        </li>
                        <li class="hide-on-small-only">
                            <a href="account.html"><i class="material-icons">perm_identity</i></a>
                        </li>
                        <li class="hide-on-small-only">
                            <a href="login.html" target="_blank"><i class="material-icons">exit_to_app</i></a>
                        </li>
                        <li class="toogle-side-nav">
                            <a href="#" data-activates="slide-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="slide-menu" class="side-nav fixed z-depth-4">
            <li class="logo deep-orange center-align hide-on-med-and-down">
                <img src="images/admin-logo-full.svg" alt="logo" class="responsive-img">
            </li>
            <li class="side-nav-inline hide-on-med-only center-align blue-grey">
                <a href="/admin/logout" class="inline waves-effect" target="_blank"><i class="material-icons">exit_to_app</i></a>
                <a href="#" class="inline waves-effect"><i class="material-icons">person</i></a>
                <a href="#" class="inline waves-effect"><i class="material-icons">search</i></a></li>
            <li>
                <a href="#" data-page="dashboard" class="admin-page-link waves-effect waves-grey">
                    <i class="material-icons">dashboard</i>Dashboard
                </a>
            </li>
            <li>
                <a href="#" data-page="stats" class="admin-page-link waves-effect waves-grey">
                    <i class="material-icons">show_chart</i>User Stats
                </a>
            </li>
            <li>
                <a href="#" data-page="tables" class="admin-page-link waves-effect waves-grey">
                    <i class="material-icons">view_module</i>Tables
                </a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header active">
                            <i class="material-icons">developer_board</i> Manage
                            <i class="material-icons right">keyboard_arrow_down</i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" data-page="quizes" class="admin-page-link">
                                        <i class="material-icons">layers</i>Quiz
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-page="users" class="admin-page-link">
                                        <i class="material-icons">person</i>Users
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <main>
        <div class="container container-small">
            <div id="admin-page" class="fadeInLeft"></div>
        </div>
        <!-- edit quiz modal structure -->
        <div id="edit-modal" class="modal">
            <form id="modal edit-form">
                <div class="modal-content">
                    <div id="loader-wrapper">
                        <div class="preloader-wrapper big active" id="loader">
                            <div class="spinner-layer">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </form>
        </div>
    </main>

    <!--libraries and frameworks-->
    <script type="text/javascript" src="scripts/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="scripts/libraries/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/scripts/libraries/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/lodash.min.js"></script>
    <script type="text/javascript" src="scripts/libraries/Chart.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/tablesort/tablesort.min.js"></script>

    <!--handlebars helpers-->
    <script type="text/javascript" src="scripts/source/helpers.js"></script>

    <!--handlebars precompiled templates-->
    <script src="scripts/hbs-templates/precompiled/dashboard.tmpl.js"></script>
    <script src="scripts/hbs-templates/precompiled/stats.tmpl.js"></script>
    <script src="scripts/hbs-templates/precompiled/tables.tmpl.js"></script>
    <script src="scripts/hbs-templates/precompiled/quizes.tmpl.js"></script>
    <script src="scripts/hbs-templates/precompiled/edit-quiz.tmpl.js"></script>

    <!--external scripts-->
    <script type="text/javascript" src="scripts/source/admin-page.js"></script>
</body>

</html>