<!DOCTYPE html>
<html lang="en">

<head>
    <title>Informatics Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../images/favicon.ico" type="image/x-icon">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
</head>

<body>
    <main class="no-padding">
        <div class="container-fluid" style="height: 100vh;">
            <div class="row no-margin" style="height: 390px;">
                <div class="center-align">
                    <div style="font-size: 10rem;" class="white">
                        <div><i class="material-icons circle pink darken-4 white-text" style="font-size: 8rem; padding: 20px;">broken_image</i></div>
                        <div class="pink-text text-darken-4">
                            <span>{{status}}</span>
                            <img src="/images/kitten.svg" alt="" style="width: 100px; position: absolute; top: 270px;" class="hide-on-small-and-down">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: calc(100% - 390px - 40px); margin-bottom: 0;">
                <div class="pink darken-4 white-text" style="height: 100%;">
                    <div class="row center-align">
                        <div class="col s12">
                            <div style="margin-top: 20px; font-size: 24px;">
                                {{#ifCond status '==' 404}}<span>Pagina nu poate fi găsită</span>{{/ifCond}} {{#ifCond status
                                '!=' 404}}<span>A apărut o eroare!</span>{{/ifCond}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 m6 l4 sl2 offset-s1 offset-m3 offset-l4 offset-sl5">
                            <div>
                                {{#ifCond status '==' 404}}<span>Ne pare rău, însă pagina căutată nu poate fi găsită. A fost mutată sau ștearsă.</span>{{/ifCond}}
                                {{#ifCond status
                                '!=' 404}}<span>Ne pare rău, însă există o problemă tehnică sau nu aveți acces la pagina dată</span>{{/ifCond}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 m6 l4 sl2 offset-s1 offset-m3 offset-l4 offset-sl5">
                            <div>
                                <span style="font-size: 18px;">Vă propunem:</span>
                                <ul class="browser-default" style="padding-left:0; list-style-position: inside;">
                                    <li>Să verificați pagina dorită și mai incercați odată.</li>
                                    <li>
                                        Accesați <a href="/">pagina principală</a>.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-align" style="margin-bottom: 0;">
                <div style="height: 40px; padding-top: 4px; background-color: #730d43;">
                    <img src="/images/quiz-logo-white.svg" alt="logo" style="width: 30px;">
                </div>
            </div>
        </div>
    </main>
</body>

</html>