<!DOCTYPE html>
<html lang="en">

<head>
    <title>Informatics Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/images/favicon.ico" type="image/x-icon">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
    <link rel="stylesheet" href="/scripts/libraries/devicon-master/devicon.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body class="grey lighten-4">
    <script>
        var topics = '{{{toJSON topics}}}';
    </script>
    <div id="loader-wrapper">
        <div id="loader-logo">
            <img src="/images/quiz-logo.svg" alt="logo">
        </div>
    </div>
    <header>
        <div class="container container-small">
            <div class="row title-row">
                <div class="col s12 l6">
                    <div style="font-size: 3rem;">
                        <i class="material-icons">view_quilt</i>
                        <span>Tematici</span>
                        <small style="font-size: 0.5em;" class="grey-text text-darken-1">de Testare Online</small>
                    </div>
                </div>
                <div class="col s12 l6 grey-text text-darken-1">
                    <nav class="white lighten-1 search-nav z-depth-0">
                        <div class="nav-wrapper">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Cauta testul" autocomplete="off" class="grey-text text-darken-1 no-margin">
                                <label class="label-icon" for="search">
                                        <i class="material-icons left grey-text text-darken-3">search</i>
                                    </label>
                                <i class="material-icons search-clear">close</i>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container container-small">
            <!--compiled topics list-->
            <div class="row" id="quiz-topics-row"></div>
            <div class="center-align search-no-results grey-text text-lighten-1" style="padding-top: 100px; display: none;">
                <h1>┐(￣ヘ￣;)┌</h1>
                <h4>Nu sunt rezultate...</h4>
            </div>
        </div>
    </main>

    <!--handlebars template-->
    <script id="topics-template" type="text/x-handlebars-template">
        {{#each topics}}
        <div class="col s12 m6 l3">
            <div class="card horizontal hoverable cursor-pointer quiz-topic" data-target="quiz-topic-modal" data-status="{{this.icon}}"
                style="height: 100px;" data-topic-id="{{this.id}}" data-topic-name="{{this.topic}}">
                <div class="card-image card-content valign-wrapper grey lighten-4 border-right border-grey">
                    <span class="material-icons {{this.icon}} pink-text text-accent-4">{{#unless this.icon}}router{{/unless}}</span>
                </div>
                <div class="card-stacked">
                    <div class="card-content valign-wrapper">
                        <p class="overflow-elipsis">
                            <span class="blue-grey-text text-lighten-1" style="font-weight: 800;">{{this.id}}.</span>
                            <span class="grey-text text-darken-2 topic-name">{{this.topic}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <!--libraries and frameworks-->
    <script type="text/javascript" src="/scripts/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/scripts/libraries/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/lodash.min.js"></script>

    <!--external scripts-->
    <script type="text/javascript" src="/scripts/source/topics.js"></script>
</body>

</html>