<!DOCTYPE html>
<html lang="en">

<head>
    <title>Informatics Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="images/favicon.ico" type="image/x-icon">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link rel="stylesheet" href="/scripts/libraries/materialize/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/materialize.additional.css">
    <link rel="stylesheet" href="/scripts/libraries/devicon-master/devicon.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="grey lighten-3">
    <script>
        var topics = '{{{toJSON topics}}}';
        var quizList = '{{{toJSON quizList}}}';
    </script>
    <header>
        <nav class="pink darken-4 hide-on-large-only">
            <div class="container container-small">
                <div class="nav-wrapper">
                    <a href="#" data-activates="slide-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <span style="font-size: 1.64rem;">Testare Online</span>
                </div>
            </div>
        </nav>
        <nav class="white pink-text text-accent-4">
            <div class="nav-wrapper container container-small">
                <span style="font-size: 24px;">Lista Testelor</span>
            </div>
        </nav>
        <ul id="slide-menu" class="side-nav fixed menu-small">
            <li class="logo blue-grey-text">
                <img src="/images/quiz-logo.svg" alt="logo">
            </li>
            <li>
                <a href="../" class="pink darken-4 white-text">
                    <i class="material-icons white-text left">arrow_back</i>
                    <span>Înapoi</span>
                </a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header active">
                            <i class="material-icons">sort</i> Sortează
                            <i class="material-icons right">keyboard_arrow_down</i>
                        </a>
                        <div class="collapsible-body">
                            <ul id="quiz-sort">
                                <li>
                                    <a class="quiz-sort-btn cursor-pointer" data-sort="name">
                                        <i class="material-icons left">sort_by_alpha</i>
                                        <span>Denumire</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="quiz-sort-btn cursor-pointer" data-sort="time">
                                        <i class="material-icons left">timer</i>
                                        <span>Timp</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="quiz-sort-btn cursor-pointer" data-sort="date">
                                        <i class="material-icons left">date_range</i>
                                        <span>Data</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <main class="content-wrapper">
        <div class="container container-small">
            <div class="row">
                <div class="col s12">
                    <ul class="collection with-header z-depth-1">
                        <li class="collection-header">
                            <h3 class="pink-text text-accent-4 text-lighten-1">{{quizList.0.topicName}}</h3>
                        </li>
                        <li>
                            <nav class="white lighten-1">
                                <div class="nav-wrapper">
                                    <div class="input-field">
                                        <input id="quiz-search" type="search" placeholder="Cauta testul" autocomplete="off" class="grey-text text-darken-1">
                                        <label class="label-icon" for="quiz-search">
                                            <i class="material-icons left grey-text text-darken-3">search</i>
                                        </label>
                                        <i class="material-icons search-input-clear">close</i>
                                    </div>
                                </div>
                            </nav>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <ul id="quiz-list">
                                {{#each quizList as |quiz|}}
                                <li class="collection-item avatar quiz-item">
                                    <i class="blue-grey material-icons circle">folder</i>
                                    <span class="title blue-grey-text text-lighten-3 quiz-id" style="font-weight: 800; font-size: 1.1rem;">{{quiz.id}}</span>
                                    <a href="#quiz-modal" class="quiz-modal-trigger title quiz-name" style="font-weight: 500; font-size: 1.1rem;">{{quiz.name}}</a>
                                    <p class="grey-text text-darken-1">
                                        <i class="material-icons tiny left" style="line-height: inherit;">date_range</i>
                                        <span class="quiz-date tooltipped" data-position="right" data-delay="250" data-tooltip="{{quiz.createdOn.date}}">{{quiz.createdOn.fromNow}}</span>
                                        <br><i class="material-icons tiny left" style="line-height: inherit;">shuffle</i>
                                        <span>{{#if quiz.randomShuffle}}aleator{{else}}ordonat{{/if}}</span>
                                    </p>
                                    <div class="secondary-content pink-text text-accent-4">
                                        <i class="material-icons tiny left" style="line-height: inherit;">timer</i>
                                        <span class="quiz-time">{{quiz.timeLimit}} min</span>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                    </ul>
                    <div class="center-align search-no-results grey-text text-lighten-1" style="padding-top: 100px; display: none;">
                        <h1>┐(￣ヘ￣;)┌</h1>
                        <h4>Nu sunt rezultate...</h4>
                    </div>
                </div>

                <!-- Modal Structure -->
                <div id="quiz-modal" class="modal modal-small modal-vertical-centered">
                    <form class="" id="quiz-modal-form" autocomplete="off">
                        <div class="modal-content">
                            <h4>Accesează testul</h4>
                            <div class="row no-margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">person</i>
                                    <input id="quiz-user" name="user_name" type="text" class="validate" minlength="4" pattern="[A-Za-z ]+" required autofocus>
                                    <label for="quiz-user" data-error="numele poate contine numai litere">Numele</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <!-- password allows only ASCII characters -->
                                    <input id="quiz-password" name="user_password" type="password" class="validate no-margin-bottom" minlength="4" pattern="^[\x00-\x7F]*$"
                                        required>
                                    <label for="quiz-password" data-error="parola este invalida" class="quiz-password-label">Parola testului</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="modal-action waves-effect waves-green btn-flat" value="Confirmă" />
                            <button type="button" class="btn btn-flat modal-action modal-close waves-effect btn-flat">Închide</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!--libraries and frameworks-->
    <script type="text/javascript" src="/scripts/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/scripts/libraries/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/libraries/lodash.min.js"></script>

    <!--external scripts-->
    <script type="text/javascript" src="/scripts/source/quiz-list.js"></script>
</body>

</html>