/* larger container */
@media only screen and (min-width: 993px) {
    .container.container-small {
        width: 90%;
    }
}

/* if multiline text overflows show elipsis */
.overflow-elipsis {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    line-height: initial;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-right {
    border-right: 1px solid #ffffff;        
}

.border-right.border-grey {
    border-color:#e0e0e0;    
}

.cursor-pointer {
    cursor: pointer;
}

.row.title-row {
    margin-top: 20px;
}

nav.search-nav {
    height: 50px;
    line-height: 50px;
    border: 1px solid rgba(0,0,0,0.1);
}

 nav.search-nav i {
    height: 50px;
    line-height: 50px;
}