body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav.nav-margin-bottom {
    margin-bottom: 20px;
}

/* larger container */
@media only screen and (min-width: 993px) {
    .container.container-small {
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    #quiz-footer-row .btn {
        width: 100%;
        margin-bottom: 20px;
        height: 54px;
        line-height: 54px;
    }
}

.btn.btn-full {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.quiz-date.tooltipped {
    cursor: default;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.collection .collection-item.quiz-item:nth-child(even) {
    background-color: #f5f5f5;
}

nav input[type="search"] {
    height: 64px !important;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}

ul.side-nav.fixed li.logo img {
    width: 100px;
}

#slide-menu.menu-small {
    width: 200px;
}

#slide-menu i.right {
    margin: 0;
    font-size: 1rem;
}

@media only screen and (min-width: 992px){
    header, main, footer  {
        padding-left: 200px;
    }
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

@media only screen and (min-width: 1024px){
    .modal.modal-small {
        width: 30% !important;
    }   
}

.nav-title {
    display: inline-block;
    font-size: 32px;
    padding: 28px 20px;
}

.modal.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.collection.collection-borderless,
.collection .collection-item.collection-item-borderless {
    border: 0 !important;
}

.collection .collection-item.collection-item-large {
    padding: 20px;
}

.collection .collection-item.quiz-choice-item:hover {
    background-color: #f5f5f5;
}

.collection .collection-item.quiz-choice-item label {
    width: 100%;
    color: #616161;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quiz-countdown {
    position: relative;
    margin: auto;
    height: 60px;
    width: 60px;
    text-align: center;
}

.quiz-countdown .quiz-countdown-number {
    color: #607d8b;
    display: inline-block;
    line-height: 62px;
    font-size: 1.1em;
}

.quiz-countdown svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

.quiz-countdown svg circle.quiz-countdown-circle {
    stroke-dasharray: 154px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: #607d8b;
    fill: none;
    animation: countdown 59s linear infinite forwards;
}

.quiz-countdown svg circle.quiz-countdown-border {
    stroke-dasharray: 154px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke-opacity: 0.5;
    stroke: #b0bec5;
    fill: none;
    animation: none;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 154px;
    }
}

.quiz-result-stats {
    font-size: 2rem;
}

.quiz-result-card {
    height: 100px;
}

#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    z-index: 1000;
}
